img {
    padding: 0px;
    width: 100%;
    margin-bottom: 70px;
}


.bloque {
    background: yellow;
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

main img {
    padding: 0;
    width: 50%;
}


div.col-3 img {width: 100%;}

div.card {margin-left: 15px;}


div.title {text-align: center;
font-size: 12px;}


p {text-align: center;}

.btn {
    opacity: 0;
}

.btn:hover {
    opacity: 1;
}



.slider .card {
    border: none;
    flex: 7;
    margin: 0 10px;
    background: #fff;

}


.slider .card:hover {
    border: rgb(194, 194, 194) 2px solid;
    opacity: 1;
}

.card .content .btn button {
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.btn p {border: rgb(207, 207, 207) solid 1px;
width: 100px;
margin: auto;
border-radius: 6px;
margin-bottom: 5px;


color: grey}

span {padding-left: 20px;}