img {
    padding: 30px;
    width: 100%;
}


.bloque {
    background: yellow;
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

main img {
    padding: 0;
    width: 100%;
}


.slider .card {
    border: none;
    flex: 7;
    margin: 0 10px;
    background: #fff;

}




.slider .card:hover {
    border: rgb(194, 194, 194) 2px solid;
    opacity: 1;
}

.slider .card .img {
    height: 200px;
    width: 80%;
}

.slider .card .content {
    padding: 10px 20px;
}

.card .content .title {
    font-size: 16px;
    font-weight: 600;
}

.card {
    text-align: center;
}

.card p {
    text-align: center;
}

.card .content .btn button {
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.btn {
    opacity: 0;
}

.btn:hover {
    opacity: 1;
}

p {
    border: grey 1px solid;
    border-radius: 3px;
    width: 70px;
    margin: auto;
    margin-bottom: 5px;
}


